body {
    background-color: lightcoral;
  }
  
  h1 {
    color: #0033c7
  }
  
  h3 {
    padding-left: 20px;
    color: #0033c7
  }
  
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  
  .otherPage:hover {
    color: #0033c7
  }
  
  #headshot {
    max-width:100%;
    height:auto;
    border-radius: 2%;
  }
  