h1 {
    text-align: center;
}

table {
    font-family: menlo;
    text-align: left;
}

.education, .relavent_coursework, .prof_exp, .skills, .activities {
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
}

.important_title {
    font-weight: 900;
    font-style: italic;
}

ul {
    letter-spacing: -1px; /* reducing the spacing between letters lets the
                             resume fit onto one page without needing the user
                             to scroll at all */
}